/*
 * For reference, 1 em in this document is equivalent to 16 px.
 */

h1 {
	text-align: center;
}

html {
	margin-left: 12.5em;
	margin-right: 12.5em;
}

body {
	font-size: 100%;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: white;
}

.logo {
	height: 9.375em;
}

.box {
	display: flex;
	align-items: center;
}

.courses {
	text-align: center;
	width: 100%;
}

.navigation {
	width: 100%;
	box-sizing: border-box;
	background-color: #3587A4;
}

.navigation li{
	display: inline-block;
	font-size: 1.25em;
	margin-right: 2%;
	color: white;
}

#name {
	font-size: 3.75em;
}


